{{ if .Params.sharemenu | default true }}

<style>

    .sharemenu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    
    .sharemenu ul li a {
        font-size: 1.2em;
        margin: 6px;
        border-radius: 100%;
        text-align: center;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--default_hl_bg);
        padding: 6px;
        transition: background-color 0.15s ease-in-out;
    }
    
    .sharemenu ul li a:hover {
        background-color: var(--default_accent);
    }
    
    .sharemenu ul li a:active, .sharemenu ul li a:focus {
        background-color: var(--default_hl_bg);
    }
    
     .button, a:link a:visited {
      color: var(--default_fg);
      font-size: 14px;
      text-decoration: none;
      margin-left: 0;
      margin-right: 74%;
      padding: 16px;
    }
    
</style>
<div class="sharemenu">
    <h3>Condividi</h3>
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Condividi su Facebook">&#xf09a;</a></li>
        <li><a href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" title="Condividi su Twitter" target="_blank">&#xf099;</a></li>
        <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank" title="Condividi su Linkedin">&#xf0e1;</a></li>
        <li><a href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Condividi su Reddit">&#xf281;</a></li>
    </ul>
</div>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="arufox" data-description="Support me on Buy me a coffee!" data-message="Se ti piace quel che scrivo e vuoi supportarmi nel mio lavoro, offrimi una pizza! È facile e non richiede un account." data-color="#FF813F" data-position="Right" data-x_margin="90" data-y_margin="18"></script>

<!-- <h3>Supportami</h3>
<a href="https://www.buymeacoffee.com/arufox" target="_blank">
  <div class="button">&#127829; Offrimi una pizza</div>
</a> -->

{{ end }}
