<style>

#contentContainer > #content > main > h1:first-of-type {
  display: none;
}

.slogan {
  font-family: "tangerine";
        font-size: 5em;
        color: #af9c6a;
}

.button {
  background-color: var(--default_hl_bg);
  color: var(--default_fg);
  border: none;
  margin-left: 32%;
  margin-right: 32%;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: background-color 0.15s ease-in-out;;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--default_accent);
}

.button:active, .button:focus {
  background-color: var(--default_hl_bg);
}

.mquote {
  border-left: 2px solid currentcolor;
  padding-left: 40px;
}

blockquote, .mquote {
  color: #5c5c5c;
}

article.card.single a:active, footer a:active, .postlist .card.postlistitem h2 a:active {
    color: black;
}

article.card.single a, footer a, .postlist .card.postlistitem h2 a {
  color: #af9c6a;
  border: none;
  }

.onlydark {
  display: none;
}

.onlylight {
  display: block;
}

@media (prefers-color-scheme: dark) {
    
    .slogan {
        font-family: "tangerine";
        font-size: 5em;
        color: var(--default_accent);
    }
    
    article.card.single a:active, footer a:active, .postlist .card.postlistitem h2 a:active {
    color: white;
}
    
    article.card.single a, footer a, .postlist .card.postlistitem h2 a {
        color: var(--default_accent);
    }
    
    blockquote, .mquote {
      color: #898989;
    }
    
    .mquote {
      border-left: 2px solid currentcolor;
    }
    
    .onlydark {
      display: block;
    }

  .onlylight {
      display: none;
  }
    
}

article.card p {
    line-height: 1.7em;
    text-align: justify;
    margin: 0;
    padding-bottom: 0.6em;
}

sup {
    font-size: 0.7em;
    vertical-align: super;   
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption p {
    font-size: 0.8em;
    padding-top: 8px;
}

footer p {
    margin-bottom: 0;
    margin-top: 0;
}

blockquote, .mquote {
    max-width: 500px;
    margin: 40px auto;
}

blockquote {
    font-style: italic;
    text-align: center;
}

.mquote blockquote {
    margin: 0 auto;
    border: none;
    padding-left: 0;
}

.mquote .mquoteTranslation {
    text-align: justify;
    margin-top: 14px;
    margin-bottom: 0;
}

.mquote .mquoteAuthor {
    text-align: right;
    margin: 0;
}

.mquote .mquoteAuthor::before {
    content: "— ";
}

.mquote blockquote p {
    margin-bottom: 0;
}

blockquote p:first-child::before {
    content: "❝";
}

blockquote p:last-child::after {
    content: "❞";
}

blockquote p:first-child::before, blockquote p:last-child::after {
    font-family: serif;
    display: inline;
    padding: 0 6px;
}

blockquote, .mquote .mquoteAuthor, .mquote .mquoteTranslation {
    font-size: 0.95em;
}

hr {
    color: #9a9a9a;
    border: 1px solid #9a9a9a;
}

.imggrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}

.imggrid div {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
}

.imggrid div span {
    text-align: center;
    font-size: 0.9em;
}

.imggrid img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 100%;
    margin: 12px auto;
}

header h1, header h1 a {
    font-family: "Cormorant SC";
    font-size: 2.2em;
}

header h1 a::first-letter {
    color: #ff7f2a;
}

header h1 {
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 5px;
}

header h1 img {
    position: absolute;
    top: 23px;
    right: -22px;
}

</style>

<link href="/fonts/cantarell/cantarell.css" rel="stylesheet">
<link href="/fonts/ubuntu/ubuntu.css" rel="stylesheet">
<link href="/fonts/cormorant-sc/cormorant-sc.css" rel="stylesheet">
<link href="/fonts/tangerine/tangerine.css" rel="stylesheet">
