<div class="imggrid">
    <div>
        <img src='{{ .Get "img0" }}'>
        <span>{{ .Get "label0" | markdownify }}</span>
    </div>
    <div>
        <img src='{{ .Get "img1" }}'>
        <span>{{ .Get "label1" | markdownify }}</span>
    </div>
    <div>
        <img src='{{ .Get "img2" }}'>
        <span>{{ .Get "label2" | markdownify }}</span>
    </div>
    <div>
        <img src='{{ .Get "img3" }}'>
        <span>{{ .Get "label3" | markdownify }}</span>
    </div>
    <div>
        <img src='{{ .Get "img4" }}'>
        <span>{{ .Get "label4" | markdownify }}</span>
    </div>
</div>

